body {
    background-color: #1b71a1;
    background-image: url(/pharmacare/src/images/doctors-bg.png);
    font-family: Arial, sans-serif;
}
#tabletList {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    /* Align items vertically in every line */
    justify-content: center;
    /* Horizontally center items in every line */
    align-items: center;
    color: #333;

}

.tabletList {
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 20px;
    padding: 25px;
    border-radius: 15px;
    background-color: #FFFFFF;
    color: #333;
    display: flex;
        flex-direction: column;
        /* Align items vertically in every line */
        justify-content: center;
        /* Horizontally center items in every line */
        align-items: center;
}

.inputwrap {
    background-color: #FFFFFF;
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 120px;
    padding: 25px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    /* Align items vertically in every line */
    justify-content: center;
    /* Horizontally center items in every line */
    align-items: center;

}
#healthIssueInput{
    width: 300px;
        padding: 10px;
        font-size: 16px;
        border-radius: 20px;
        margin-right:10px;
}
.btn-primary {
    color: #FFFEFE;
    background-color: #283779;
    border-color: #283779;
    margin-left: 10px;

}

.btn-primary:hover {
    color: #FFFEFE;
    background-color: #222f67;
    border-color: #202c61;
}
.result{
    display: flex;
        justify-content: center;
        align-items: center;
}