body {
    background-color: #1b71a1;
    background-image: url(/pharmacare/src/images/doctors-bg.png);
}
 #dropArea {
     border: 2px dashed #222f67;
     padding: 20px;
     text-align: center;
     font-size: 1.2rem;
 }

 img {
     max-width: 100%;
     max-height: 300px;
     margin-top: 10px;
 }
 .inputwrap {
     background-color: #FFFFFF;
     margin-left: 12%;
     margin-right: 12%;
     margin-top: 150px;
     padding: 40px;
     border-radius: 5px;
 }
 .submit{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 10px;
 }
 
 .submit a{
    text-decoration: none;
    color: #FFFEFE;
 }
 #fileInput{
    text-align: center;
 }
 .btn-primary {
     color: #FFFEFE;
     background-color: #283779;
     border-color: #283779;

 }

 .btn-primary:hover {
     color: #FFFEFE;
     background-color: #222f67;
     border-color: #202c61;
 }
 .fa-upload{
    color: #222f67;
    font-size: 50px;
    padding: 25px;
 }